div#home{
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	
	.left, .right{
		display: inline-block;
		box-sizing: border-box;
		height: 100%;
	}
	
	.left{
		width: 40%;
		padding: 200px 0 200px 100px;
		float: left;
		position: relative;
		background-color: #636F57;
		z-index: 5;
		color: white;

		.links{
			position: absolute;
			bottom: 200px;
			left: 100px;
			height: auto;
			display: flex;

			a{
				margin: 0 20px 0 0;
				float: left;
				bottom: 0;
				align-self: flex-end;

				svg{
					width: 20px;
					background-color: #636F57;
					transition: all 250ms 0ms ease;

					path{ fill: white; }

					&:hover{ width: 100px; }
				}
			}
		}
	}

	.right{
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-evenly;

		a{
			width: 60vw;
			font-size: 40px;
			overflow: hidden;
			padding: 30px 0 30px 42vw;
			margin: 0;
			color: #636F57;
			border-bottom: 20px solid #636F57;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex: 1;

			transition: opacity 250ms 0ms ease;
			
			p{
				display: none;

				&:first-child{ display: block; }
			}

			&:last-child{ border-bottom: none; }
			
			&:hover{
				width: 200vw;
				justify-content: space-around;
				
				p{
					display: block;
					opacity: 1 !important;
					filter: blur(0px) !important;
				}
	
				animation: marquee 5s linear infinite;
				-moz-animation: marquee 5s linear infinite;
				-webkit-animation: marquee 5s linear infinite;
			}

		}

		// index items not hovered on - blur
		&:hover{
			a p{
				opacity: 0.4;
				filter: blur(2px);
			}
		}
	}

	@media screen and (max-width: 766px) {
		height: unset;
		overflow: scroll;

		.left{
			width: 100vw;
			position: relative;
			padding: 50px;
			height: unset;

			.links{
				position: relative;
				bottom: unset;
				left: unset;
			}
		}

		.right{
			position: relative;

			a{
				width: 100vw;
				padding: 30px 20px;
				font-size: 36px;

				&:hover{
					width: 500vw;

					animation: phoneMarquee 5s linear infinite;
					-moz-animation: phoneMarquee 5s linear infinite;
					-webkit-animation: phoneMarquee 5s linear infinite;
				}
			}
		}
	}
}


@keyframes marquee {
	0% { transform: translateX(-100vw); }
	100% { transform: translateX(0vw); }
}

@keyframes phoneMarquee {
	0% { transform: translateX(-250vw); }
	100% { transform: translateX(0vw); }
}