@import url('https://use.typekit.net/wgr1ejg.css');

h1{
	font-family: ambroise-std, serif;
	font-weight: 700;
	font-style: normal;
	margin: 0 0 30px;
}

p{
	font-family: degular, sans-serif;
	font-style: normal;
	font-weight: 200;
}

a{
	font-family: degular, sans-serif;
	font-style: normal;
	font-weight: 200;
	display: block;
	text-decoration: none;
	color: black;
	margin-bottom: 30px;
}